{%  extends '::base.html.twig' %}


{% block content -%}


    <div class="error-page">
        <h2 class="headline text-yellow"> {{ status_code }}</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! {{ status_text | trans }}</h3>
            <p>
                {% if status_code == 403 %}
                    Ud no tiene permisos para acceder a este lugar.
                {% else %}
                    Estamos trabajando para solucionarlo.
                {% endif %}
            </p>
            <a class="btn btn-primary" href="{{ path('dashboard') }}">Volver</a>
        </div><!-- /.error-content -->
    </div><!-- /.error-page -->



{% endblock %}