<div class="col-md-{{ configuracion.tiempoRealManiobras.col }} digital-panel">
    <div class="box">
        <div class="box-body">
            <div class="col-md-12 hta">
                <h4 class="title">Peso de Herramienta</h4>
                <p class="value">
                    <span class="val">-</span> Klb
                </p>
                <p class="info">Min / Min: <span class="max-min">- / -</span></p>
            </div>
            <div class="col-md-6 llave">
                <h4 class="title">Presión de llave</h4>
                <p class="value">
                    <span class="val">-</span> psi
                </p>
                <p class="info">Min / Min: <span class="max-min">- / -</span></p>
            </div>
            <div class="col-md-6 bpozo">
                <h4 class="title">Presión boca de Pozo</h4>
                <p class="value">
                    <span class="val">-</span> psi
                </p>
                <p class="info">Min / Min: <span class="max-min">- / -</span></p>
            </div>          
            <div class="col-md-6 haparejo">
                <h4 class="title">Altura de Aparejo</h4>
                <p class="value">
                    <span class="val">-</span> m
                </p>
                <p class="info">Min / Min: <span class="max-min">- / -</span></p>
            </div>
            <div class="col-md-6 anem">
                <h4 class="title">Velocidad del viento</h4>
                <p class="value">
                    <span class="val">-</span> Km/h
                </p>
                <p class="info">Min / Min: <span class="max-min">- / -</span></p>
            </div>
            <div class="col-md-6 h2sBpozo">
                <h4 class="title">H2S Boca de Pozo</h4>
                <p class="value">
                    <span class="val">-</span> ppm
                </p>
                <p class="info">Min / Min: <span class="max-min">- / -</span></p>
            </div>
            <div class="col-md-6 h2spi">
                <h4 class="title">H2S Pileta</h4>
                <p class="value">
                    <span class="val">-</span> ppm
                </p>
                <p class="info">Min / Min: <span class="max-min">- / -</span></p>
            </div>
        </div>
    </div>
</div>