  <div class="row">
    <div class="col-md-12">
      <!-- AREA CHART -->
      <div class="box box-filter">
        <div class="box-header with-border">
          <h3 class="box-title">{{ equipo.nombre }}
            - Modelo:
            {{ equipo.modelo }}</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button class="btn btn-box-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <div class="col-md-3">
            <div id="llave" style="height:250px;"></div>
            <div id="anemometro" style="height: 250px;"></div>
          </div>
          <div class="col-md-6">
            <div id="aparejo" style="height:400px;"></div>
          </div>
          <div class="col-md-3" style="">
            <div id="boca-de-pozo" style="height:250px;"></div>
          </div>
          <div class="col-md-3" style="">
            <div id="haparejo" style="height:250px;"></div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.row -->
  </div>