/**** CSS PERSONALIZADO ******/

.pagination{
    margin: 0px;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

.help-block{
    color: red;
}

.datepicker.dropdown-menu{
    z-index: 999999 !important;
}

.tooltip-html{
    font-size: 12px !important;
}

li.notificacion-no-leida a{
    background-color: lightgoldenrodyellow;
}

/****** css pantalla de login ******/
.login-box-body{
  border: 1px solid #cfd8dc;
}

.login-page, .register-page {
    background: #E4E5E6;
}
/**************************************/

a {
    color: #545194;
}

a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: #545194;
}

.form-control:focus {
    border-color: #545194;
    box-shadow: none;
}

.box.box-filter, .box.box-primary{
    border-top-color: #545194;
}


.btn.btn-primary{
  background-color: #545194;
  border-color: #3b3a6d;
}

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{
  background-color: #545194;
  border-color: #3b3a6d;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #3b3a6d;
    border-color: #122b40;
}

.select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus {
    outline: none;
    border: 1px solid #545194;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #545194;
    border-color: #3b3a6d;
}
